@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Lora:ital,wght@0,700;1,400&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Roboto:wght@400;700&family=Zen+Maru+Gothic:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/******************* reset *******************/

/******************* common *******************/
:root {
    --root-font-size: 16;
    --system-text-jp: 'Zen Kaku Gothic New', sans-serif;
    --system-text-en: 'Zen Maru Gothic', sans-serif;
    --user-text-jp-hand: 'Zen Kaku Gothic New', sans-serif;
    --user-text-en-hand: 'Zen Maru Gothic', sans-serif;
    --user-text-jp-gothic: 'Zen Kaku Gothic New', sans-serif;
    --user-text-en-gothic: 'Zen Maru Gothic', sans-serif;
    --user-text-jp-serif: 'Zen Kaku Gothic New', sans-serif;
    --user-text-en-serif: 'Zen Maru Gothic', sans-serif;

    --text-color: #3F342D;

    --border-color: #F7F7F7;
    --main-color: #F0823C;
    --header-footer-color-rgba: 248,242,238,1.0;
    --accent-color: #5AC1CE;
    --main-bg-color: #fff;

}

body {
    margin: 0 auto;
    font-size: var(--root-font-size);
    font-family: var(--system-text-en);
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

div.top_back {
    background-color: var(--header-footer-color-rgba);
}

main {
    max-width: 1240px;
    margin: 0 auto;
    min-height: 83vh;
}

main.create {
    min-height: 83vh;
    height: 83vh;
}

h2 {
    font-size: calc(24 / var(--root-font-size) * 1rem);
    /*24px*/
    /* ksu */
    background-color: #aad6f9;
}

h3 {
    font-size: calc(20 / var(--root-font-size) * 1rem);
    /*20px*/
}

/******************* header *******************/

header {
    height: 7vh;
    background-color: rgba(var(--header-footer-color-rgba));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header div.link_btn {
    /* width: calc(130 / var(--root-font-size) * 1rem); */
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.page_title {
    /* width: calc(130 / var(--root-font-size) * 1rem); 20px */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

/* svg.header_icon {
    width: 50px;
}

@media only screen and (min-width: 640px) {
    svg.header_icon {
    width: 100px;
    }
} */
/******************* header *******************/

/******************* footer *******************/
footer {
    height: 8vh;
    background-color: rgba(var(--header-footer-color-rgba));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

/* div.footer_icon {
  size: 20px;
} */

/******************* footer *******************/
/******************* card *******************/
div.card {
    box-shadow: 0 0 5px gray;
    margin: 15px;
}

div.card_icon {
    height: 7vh;
    width: 7vh;
    margin: 2px;
    /* background-color: rgba(var(--header-footer-color-rgba)); */
    justify-content: center;
    align-items: center;
}

div.card_title {
    margin-top: 10px;
}

/******************* card *******************/

/******************* top-page *******************/
div.cards {
    padding: 20px 10px;
}
/******************* top-page *******************/

/******************* map-page *******************/
/* div.google_map {
    width: 100%;
    position: relative;
} */
/* div.map_container { */
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    /* height: 100%; */
/* } */
/* div.map {
    width: 100%;
    height: 100%;
} */
/******************* map-page *******************/
/******************* searchBox *******************/
input.search_box {
    /* width: 100%; */
    position: absolute;
    /* position: fixed; */
    z-index: 10;
}
/******************* searchBox *******************/
/******************* shop *******************/
div.shop_map {
    align-self: center;
    margin: 10px;
}
/******************* shop *******************/
/******************* shop-list-card *******************/
div.list_card {
    position: fixed;
    /* position: relative; */
    bottom: 10vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 85%;
    height: 20%;
    /* max-height: 400px; */
    background: white;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* 元々のやつ */
    /* padding: 20px;
  margin: 0 auto; */
}
div.list_item {
    /* overflow-x: auto;
    white-space: nowrap; */
    width: 90%;
    /* margin: 10px 20px; */
    padding: 10px 0;
}
div.list_item p {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

div.next_arrow,
div.prev_arrow {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    /* background: rgba(255, 255, 255, 0.8); */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

div.next_arrow {
    right: 0px;
}

div.prev_arrow {
    left: 0px;
}

/******************* shop-list-card *******************/
/******************* autocomplete *******************/
.autocomplete-container {
    /* position: absolute; */
    /* top: 10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* z-index: 1000; マップよりも上に表示するためにz-indexを設定 */
    /* width: 60%; */
}

.autocomplete-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
}

.autocomplete-list-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list-item:hover {
    background-color: #f0f0f0;
}
/******************* autocomplete *******************/
/******************* product *******************/
.product_image {
    max-width: 60%;
    height: 'auto';
    padding: 20px;
    margin: 0 auto;
}

.add_review_icon {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 5;
}
/******************* product *******************/
